p {
  margin: 0;
  margin-bottom:12px;
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0px;
}

ul {
  margin-top: 0px;
}

h1 }
  font-size: 36px;
  margin-bottom: 0px;
}

h2 {
  font-size: 32px
  border-bottom: 1px grey solid;
  margin-bottom: 8px;
}
 
h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

#header {
  margin-bottom: 32px;
  text-align: center; 
}

#footer {
  margin-top: 64px;
  text-align: center;
}
